body {
  margin: 0;
  padding: 0; 
  color: '#fff'
}

* {
  box-sizing: border-box;
}

.marker {
  background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/pin.svg');
  background-size: cover;
  cursor: pointer;
  }

   /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: silver;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
} 